.footer {
  background-color: #2f3251;
  color: #ffffff;
  padding: 40px 20px;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.footerColumn p,
.footerColumn a {
  font-size: 14px;
  color: #cccccc;
  text-decoration: none;
  line-height: 1.8;
}

.footerColumn a:hover {
  color: #ffffff;
}

.footerColumn input[type="email"] {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #44476a;
  color: #ffffff;
}

.footerColumn input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #44476a;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.footerBottom {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  color: #cccccc;
}

